affine==2.3.0
aniso8601==9.0.1
argon2-cffi 
async-generator==1.10
attrs 
backcall 
bleach 
blinker==1.4
certifi==2021.5.30
cffi 
click 
click-plugins==1.1.1
cligj==0.7.2
colorama 
cycler==0.10.0
dataclasses
decorator 
defusedxml 
entrypoints
Fiona
Flask
Flask-Mail
Flask-RESTful

geopandas 
gunicorn==20.1.0
importlib-metadata 
ipykernel 
ipython 
ipython-genutils 
itsdangerous
jedi
Jinja2 
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab-pygments 
kiwisolver 
MarkupSafe 
matplotlib 
 
numpy
pandas 

psycopg2 
pycparser 
Pygments 
pyparsing 
pyproj 
pyrsistent 
python-dateutil 
pytz 

rasterio
 
Shapely

Werkzeug

zipp 
